[submodule "libs/bip39"]
	path = libs/bip39
	url = https://github.com/edwardstock/native-bip39.git
[submodule "libs/secp256k1"]
	path = libs/secp256k1
	url = https://github.com/edwardstock/native-secp256k1-java.git
[submodule "libs/leveldb"]
	path = libs/leveldb
	url = https://github.com/google/leveldb.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
